.button{
    border:none;
    padding: 10px;
    border-radius: 5px;
}
.button__primary{
 background: var(--colorRojo);
color: var(--colorBlanco)
   
}

.button__secundary{
background-color: var(--coloGris);
color: var(--colorBlanco)
}